body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Arka plan rengi */
    background-image: linear-gradient(45deg, #f4f4f4 25%, #ddd 25%, #ddd 50%, #f4f4f4 50%, #f4f4f4 75%, #ddd 75%, #ddd 100%);
    background-size: 8px 8px;
}

header {
    background-color: #4CAF50; /* Başlık arka plan rengi */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #4CAF50; /* Altbilgi arka plan rengi */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
