h1{
  text-align:right;
  color:#39FF14;
  text-align:center;
  font-size:70px;
}
.cast{
  text-align:right;
  font-size:25px;
  color:white;
}
ul{
  text-align:right;
  color:white;
}
.cast-pictures{
  width:75px;
  margin-left:10px;
}
.main-picture{
  width:700px;
  text-align:left;
  float:left;
}
h2{
  color:#5959FF;
}
h3{
  color:#000000;
}
body{
  text-align:left;
  color:#CCCCFF;
}
body{
  background-image:url("https://2.bp.blogspot.com/-QaZm0KP6j6Y/Tv5GQ1dAdxI/AAAAAAAAADA/Bk45QOte710/s1600/Scarface_Palms_small.jpg");
  background-size:100%;
}
